.container {
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
}

.container-item {
    /* make container flex to centralize text */
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 10px;
    padding: 10px;
    background: aqua;
    width: 20%;
    height: 175px;
    border-radius: 10px;
    box-sizing: border-box;
}


@media screen and (max-width: 815px) {
    .container-item {
        width: 40%;
        background: purple;
    }
    
}

@media screen and (max-width: 400px) {
    .container-item {
        width: 100%;
        align-items: center;
    }
    .container-item {
        width: 80%;
        margin: 5px;
        padding: 0px;
        background: aqua;
        align-content: center;
    }
    
}